In [22]:
# Load libraries
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as sts
import numpy as np

In [23]:
# Read in the csv files
sfh_df = pd.read_csv('./data/County_Zhvi_SingleFamilyResidence.csv')

In [24]:
# Remove all rows that aren't located in Florida
county_sfh_df = sfh_df.loc[sfh_df["State"] == "FL", :]
county_sfh_df

,RegionID,RegionName,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,SizeRank,1996-04,1996-05,1996-06,...,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,2020-01,2020-02
7,2964,Miami-Dade County,FL,Miami-Fort Lauderdale-West Palm Beach,12,86,8,122999.0,123308.0,123838.0,...,348623,349379,350100,350998,351840,353089,353661,354293,354836,357066
17,1561,Broward County,FL,Miami-Fort Lauderdale-West Palm Beach,12,11,18,122490.0,122785.0,123138.0,...,336156,336952,337169,337612,338562,339970,340908,341378,342380,344101
27,2993,Palm Beach County,FL,Miami-Fort Lauderdale-West Palm Beach,12,99,28,133173.0,133367.0,133528.0,...,336831,337121,337625,338129,338539,339053,340137,341232,342726,344882
29,3165,Hillsborough County,FL,Tampa-St. Petersburg-Clearwater,12,57,30,99896.0,99980.0,99991.0,...,243225,244040,244904,245424,245895,246568,247319,248185,248940,249931
34,1287,Orange County,FL,Orlando-Kissimmee-Sanford,12,95,35,113613.0,114003.0,114325.0,...,271469,271712,272300,273269,274176,275035,275714,276619,277954,279735