In [12]:
# Load libraries
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as sts
import numpy as np

In [13]:
# Read in the csv files
all_sfh_df = pd.read_csv('./data/Metro_Zhvi_SingleFamilyResidence.csv')
state_sfh_df = pd.read_csv('./data/Metro_Zhvi_SingleFamilyResidence.csv')
zip_sfh_df = pd.read_csv('./data/Metro_Zhvi_SingleFamilyResidence.csv')

,Region ID,Region Name,Size Rank,1996-04,1996-05,1996-06,1996-07,1996-08,1996-09,1996-10,...,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,2020-01,2020-02
0,102001,United States,0,106409.0,106560.0,106737.0,106910.0,107128.0,107351.0,107614.0,...,238053,238779,239549,240338,241143,241961,242760,243578,244440,245386
1,394913,"New York, NY",1,189376.0,189043.0,188739.0,188553.0,188461.0,188504.0,188629.0,...,475533,475912,476471,477020,477381,477515,477746,478297,479081,479971
2,753899,"Los Angeles-Long Beach-Anaheim, CA",2,192140.0,192143.0,192208.0,192359.0,192348.0,192275.0,192216.0,...,685436,686283,687894,690303,693953,697273,700235,704585,710138,718974
3,394463,"Chicago, IL",3,162321.0,161707.0,161373.0,160886.0,161449.0,162263.0,163930.0,...,243265,243491,243848,244063,244154,244153,244137,244226,244415,244624
4,394514,"Dallas-Fort Worth, TX",4,113140.0,113481.0,113727.0,113913.0,114131.0,114357.0,114688.0,...,252542,253044,253660,254304,255076,255509,255856,255972,256267,256718
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
909,394767,"Lamesa, TX",909,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,70619,71073,71441,71827,72181,72583,72858,73044,73143,73175
910,753874,"Craig, CO",910,63465.0,63797.0,64089.0,64421.0,64884.0,65336.0,65646.0,...,193104,193665,194082,194374,194363,194451,194130,193600,192987,192623
911,394968,"Pecos, TX",911,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,99576,100396,101289,102329,103272,103960,104875,105885,107546,108907
912,395188,"Vernon, TX",912,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,70022,70095,70222,70325,70329,70322,70287,70313,70187,69976
913,394743,"Ketchikan, AK",913,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,322896,324100,325512,326900,328586,329898,330849,331338,331628,331501